.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --Dark-cyan: hsl(185, 75%, 39%);
    --Very-dark-desaturated-blue: hsl(229, 23%, 23%);
    --Dark-grayish-blue: hsl(227, 10%, 46%);
    --Dark-gray: hsl(0, 0%, 59%);
}

body {
    font-family: 'Kumbh';
    text-align: center;
    font-size: 18px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--Dark-cyan);
    position: relative;
    overflow: hidden;
}

body::before {
    content: "";
    width: 100%;
    height: 100%;
    left: -50%;
    top: 0;
    z-index: -1;
    position: absolute;
    background-image: url(images/bg-pattern-top.svg);
    transform: rotate(130deg);
    -webkit-transform: rotate(130deg);
    -moz-transform: rotate(130deg);
    -ms-transform: rotate(130deg);
    -o-transform: rotate(130deg);
}

body::after {
    content: "";
    width: 100%;
    height: 100%;
    right: -50%;
    bottom: 0;
    position: absolute;
    z-index: -1;
    background-image: url(images/bg-pattern-bottom.svg);
    transform: rotate(315deg);
    -webkit-transform: rotate(315deg);
    -moz-transform: rotate(315deg);
    -ms-transform: rotate(315deg);
    -o-transform: rotate(315deg);
}

.card {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    overflow: hidden;
    min-width: 350px;
    margin-bottom: 3rem;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

main {
    background-color: #fff;
    margin-top: -5px;
    padding: 3rem;
    width: 350px;
    position: relative;
    padding-bottom: 5px;
}

.profile-picture {
    display: block;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 5px solid #fff;
    border-radius: 100%;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

main h2 {
    position: relative;
    color: var(--Very-dark-desaturated-blue);
    font-weight: 700;
}

main h2::after {
    content: attr(data-age);
    position: absolute;
    float: right;
    color: var(--Dark-gray);
    right: 25px;
    vertical-align: middle;
    font-size: 18px;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
}

.birth-location {
    color: var(--Dark-gray);
    padding: 10px;
}

footer {
    border-top: 1px solid #EFEFEF;
    background-color: #fff;
    display: flex;
    min-width: 350px;
    font-weight: 500;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
}

footer section h3 {
    color: var(--Very-dark-desaturated-blue);
    font-weight: 700;
}

footer section p {
    color: var(--Dark-gray);
}

@media (max-width:767px) {
    *:not(header, img, main) {
        overflow: hidden;
    }
    body::before {
        content: "";
        width: 100%;
        height: 100%;
        left: -90%;
        top: -25%;
        z-index: -1;
        position: absolute;
        background-image: url(images/bg-pattern-bottom.svg);
        transform: rotate(226deg);
        -webkit-transform: rotate(226deg);
        -moz-transform: rotate(226deg);
        -ms-transform: rotate(226deg);
        -o-transform: rotate(226deg);
    }
    body::after {
        content: "";
        width: 100%;
        height: 100%;
        right: -25%;
        bottom: -50%;
        position: absolute;
        z-index: -1;
        background-image: url(images/bg-pattern-top.svg);
        transform: rotate(1deg);
        -webkit-transform: rotate(1deg);
        -moz-transform: rotate(1deg);
        -ms-transform: rotate(1deg);
        -o-transform: rotate(1deg);
    }
}


}